---
import Interview from '@/sections/Home/containerInterview-Magazine/Interview.astro';
import Magazine from '@/sections/Home/containerInterview-Magazine/Magazine.astro';
---

<section id="ContainerInterview-Magazine" class="mt-8 flex h-96 w-full">
	<Interview />
	<Magazine />
</section>
