---
const SOCIALMEDIA = [
	{
		name: 'Linkedin',
		url: 'https://www.linkedin.com/company/centro-juridico-internacional-s-a-s-/',
		icon: '/footer/in.svg'
	},
	{
		name: 'Facebook',
		url: 'https://www.facebook.com/CentroJuridicoInternacional/',
		icon: '/footer/fb.svg'
	},
	{
		name: 'YouTube',
		url: 'https://youtube.com/channel/UCUMJo4IlIG8bETW-OhoNNkg?si=OoXPD1Q6Iv4cNAk2',
		icon: '/footer/yt.svg'
	},
	{
		name: 'Instagram',
		url: 'https://www.instagram.com/centrojuridicosas?igsh=MXZiemR3N3JrcnYzbA%3D%3D&utm_source=qr',
		icon: '/footer/ig.svg'
	},
	{
		name: 'TikTok',
		url: 'https://www.tiktok.com/@centrojuridicosas?_t=ZS-8uImpyrWTCc&_r=1',
		icon: '/footer/tiktok.svg'
	}
];
---

<footer
	class="h-fit w-screen bg-[#084A00] text-[10px] text-gray-50 sm:text-base"
	transition:name="footer"
>
	<div class="flex h-fit w-full">
		<img src="/footer/logo.svg" alt="logoImage" class="w-full bg-white pt-20" />
	</div>
	<div class="flex flex-wrap justify-center xl:flex-nowrap">
		<div
			class="mx-4 flex h-fit w-[80vw] items-start justify-center gap-x-12 bg-[#084A00] sm:ml-8 xl:w-1/2 xl:flex-nowrap"
		>
			<div id="Bogota" class="mb-8 flex w-1/3 flex-col">
				<h3 class="flex justify-between text-[80%]">
					SEDE PRINCIPAL BOGOTA <img src="/footer/col.svg" alt="imageCol" class="w-auto max-w-12" />
				</h3>
				<p>
					Dirección: <a
						href="https://maps.app.goo.gl/9hVc2UAe7Wyuq7eV9"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600">Carrera 24 No. 27 a 21</a
					>
					<br />Tels: 601 241 51 00<br />601 245 18 44<br />601 626 50 41<br />Cel: 312 490 21 43<br
					/>300 218 32 46<br />311 382 06 19<br />Bogotá - Colombia
				</p>

				<p class="w-fit">
					Email:
					<a
						href="mailto:consulta3@centrojuridicointernacional.com"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600">consulta@centrojuridicointernacional.com</a
					>
				</p>
			</div>
			<div id="Villavicencio" class="mb-8 w-fit max-w-1/3">
				<h3 class="flex items-center text-[100%]">SEDE VILLAVICENCIO</h3>
				<p>
					Dirección: <a
						href="https://maps.app.goo.gl/mthGCW8N45cNbx3y6"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600"
						>CLL, 27# 44B - 8 <br />Ed Gestar Ofc. 303<br />Barrio el Buque<br /></a
					>Tel: 608 678 39 15<br />Cel: 317 646 77 53<br />314 203 34 97<br />310 518 23 10
				</p>
			</div>
			<div id="Ibague" class="mb-8 w-fit max-w-1/3">
				<h3 class="flex items-center text-[100%]">SEDE IBAGUÉ</h3>
				<p>
					Dirección: <a
						href="https://maps.app.goo.gl/88FCDmD3sRTmgn1m9"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600"
						>Carrara 6 No. 53-54 <br />Torre 1 oficina 801 Edificio Torreon<br />Empresarial<br
						/></a
					>Tel: 608 276 18 05<br />Cel: 317 471 90 18<br />317 479 82 05
				</p>
			</div>
		</div>
		<div
			class="mx-4 flex h-fit w-[95vw] items-start justify-center gap-x-12 bg-[#084A00] sm:ml-8 md:w-[80vw] xl:w-1/2 xl:flex-nowrap"
		>
			<div id="Tunja" class="mb-8 w-1/3">
				<h3 class="flex items-center text-[100%]">SEDE TUNJA</h3>
				<p>
					Dirección: <a
						href="https://maps.app.goo.gl/PeRCeMW8TuKQMJMn9"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600">Carrera 1F #40 - 149 <br />Ed. Marca Torre 2 oficina 518<br /></a
					>Tel: 608 740 19 66<br />Tel: 608 276 18 05<br />Cel: 316 025 44 62<br />310 518 23 20
				</p>
			</div>
			<div id="Chia" class="mb-8 w-1/3">
				<h3 class="flex items-center text-[100%]">SEDE CHÍA</h3>
				<p>
					Dirección: <a
						href="https://maps.app.goo.gl/Hafmhcwfy7x9GtEu6"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600"
						><br />OXus centro empresarial<br />km. 1.5 via chía cajíca costado <br />occidental
						ofc. 308<br /></a
					>Tel: 601 863 01 31 <br />Cel: 310 518 23 47 <br />317 513 24 62
				</p>
			</div>
			<div id="Usa" class="mb-8 w-1/3">
				<h3 class="flex justify-between text-[80%]">
					CONTACTO USA <img src="/footer/usa.svg" alt="imageUsa" class="w-2/10" />
				</h3>
				<p>
					Dirección: 1395 Brickel AVE. <br />8 TH FLOOR<br />MIAMI, FL<br />Acevedo Associates<br
					/>Miami - USA 33131<br />
				</p>
			</div>
		</div>
	</div>
	<div
		class="ml-2 flex flex-wrap items-center justify-center pb-8 md:ml-8 lg:flex-nowrap lg:justify-between"
	>
		<p>
			LEY ESTATUTARIA 1581 DE 2012 (Octubre 17) <br />Reglamentada parcialmente por el Decreto
			Nacional 1377 de 2013.<br />Por la cual se dictan disposiciones generales para la protección
			de datos personales <a
				href="/footer/PPDP.pdf"
				class="text-blue-600"
				target="_blank"
				rel="noopener noreferrer">Conocerlas Aquí</a
			>
		</p>

		<div
			class="mt-8 mr-4 h-fit w-[90%] rounded-l-[8rem] rounded-r-[8rem] bg-[#D1AE6D] sm:w-1/2 md:mr-0 lg:mt-0 lg:w-1/3 lg:rounded-r-[0rem]"
		>
			<div class="flex items-center justify-center gap-x-4 px-2 py-5">
				{
					SOCIALMEDIA.map((item) => {
						return (
							<a href={item.url} class="w-1/7" target="_blank" rel="noopener noreferrer">
								<img
									src={item.icon}
									alt={`${item.name}Image`}
									class="max-h-96 transition-all duration-300 ease-out hover:-translate-y-1 hover:scale-105"
								/>
							</a>
						);
					})
				}
			</div>
		</div>
	</div>
</footer>
<style>
	footer h3 {
		color: #ffffff;
		letter-spacing: 0.1rem;
		font-weight: 900;
		margin-bottom: 1rem;
	}
</style>
